#amplify-do-not-edit-begin
server/amplify/\#current-cloud-backend
server/amplify/.config/local-*
server/amplify/logs
server/amplify/mock-data
server/amplify/mock-api-resources
server/amplify/backend/amplify-meta.json
server/amplify/backend/.temp
server/build/
server/dist/
server/node_modules/
server/aws-exports.js
server/awsconfiguration.json
server/amplifyconfiguration.json
server/amplifyconfiguration.dart
server/amplify-build-config.json
server/amplify-gradle-config.json
server/amplifytools.xcconfig
server/.secret-*
server/**.sample
#amplify-do-not-edit-end